:global .icon {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 360px) {
    :global .ant-menu-item .anticon {
        display: none;
    }

    .adaptiv_menu span {
        margin-left: 0;
    }

    :global .ant-menu-vertical .ant-menu-item {
        padding: 0 0;
    }
}
