.errror_modal {
    max-width: 450px;
}

.modal_title_header {
    display: flex;
}

.close_btn {
    border: none;
    color: red;
}

.modal_title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.modal_title {
    margin-top: 5px;
}

.moda_footer {
    display: flex;
    flex-direction: row-reverse;
}

.modal_footer_btn {
    color: white;
    background: #2f54eb;
}

@media (max-width: 480px) {
    .errror_modal {
        margin: 0 16px;
    }
}
