.ant-card-head-title {
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: unset;
    overflow-wrap: break-word;
}

.table-training .ant-table-thead > tr > th:nth-child(1),
.table-training .ant-table-thead > tr > th:nth-child(3) {
    background:  #f0f0f0;
}

.table-training .ant-table.ant-table-small .ant-table-tbody > tr > td {
    padding: 5px 0 0;
}
.table-training .ant-table-pagination {
    flex-wrap: nowrap;
}
.table-training .ant-table-pagination.ant-pagination {
    margin: 24px 0 30px;
}

.table-training .ant-table-thead > tr > th {
    font-size: 12px;
}



.ant-table-thead > tr > th {
    background: #f0f0f0;
    height: 37px;
}




.ant-table-column-sorters::after {
    height: 37px;
}



@media (max-width: 834px) {
    .ant-card-head-title {
        text-align: unset;
    }
}


@media (max-width: 360px) {
.ant-card-head-title {
    max-width: 100%;
    text-align: center;
}
}