.card_wrapper {
    max-width:752px;
    margin-top: 16px;
    margin-left: 26px;
    margin-right: 24px;
 }

 .card_button {
    border:none;
    color:#2F54EB;
 }
 
 .car_begin {
    font-family:'Inter';
    font-weight: 400;
    line-height: 20px;
    padding: 0;
 }
 
 @media (max-width: 360px) {
.card_wrapper {
        margin: 16px 16px 0px 16px;
} 
 }