.ant-radio-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.ant-radio + * {
    padding: 0;
    display: flex;
    width: 100%;
}

h5.ant-typography {
    color: #262626;
}

.ant-radio-inner::after {
    background: #2f54eb;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #2f54eb;
}
