.wrapper_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.empty_treningList {
    display: flex;
    flex-direction: column;
    gap: 76px;
}

.create_trening_btn {
    display: flex;
    justify-content: center;
}

.empty_catalog_btn {
    color: #fff;
    background: #2f54eb;
    width: 170px;
}

.empty_catalog_btn > span {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 18.2px;
}

.header {
    display: flex;
    gap: 12px;
}

.type_of_trening {
    font-family: 'Inter';
    font-size: 12px;
    line-height: 15px;
    max-width: 260px;
    width: 100%;
    background: #f0f0f0;
}

.sort_panel {
    width: 240px;
    background: red;
}


.table {
    max-width: 555px;
}


/* :global(.ant-table-tbody) {
    :global(.ant-table-cell),
    :global(.ant-btn) {
        padding: 0 6px !important;
    }
} */

.drawer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.create_trening_wrpaer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date_picker_checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_trin_btn, .footer_btn {
  background:#2F54EB;
}

.add_execise {
    border: none;
    text-align: left;
    background: #F0F0F0;
    color:#2F54EB
}


.castom_header {
    height: 37px;
}

.btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    height: 40px;
    background: #f0f0f0;
    padding: 0 0 0 5px;
}


.add_btn {
    color:#2F54EB;
}