.footer_container {
background:none;
padding:156px 24px 0px 24px;
margin-bottom: 42px;
display: flex;
align-items: end;
justify-content: space-between;
}

.meta {
padding: 12px 0px;
text-align: center;
font-family:'Inter', sans-serif;
line-height: 20px;
}


.btn_platform_container {
display: flex;
justify-content: center;
align-items: center;
padding: 12px 0px;
}

.btn_platform {
width:50%;
}

.btn_feedback {
color:#2F54EB;
text-align: center;
font-size: 16px;
}

.footer_card {
width: 240px;
}

@media (max-width: 360px) {
.footer_container {
    margin-top: 24px;
    padding-top: 0;
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
    padding:0px 16px 0px 16px
}

.footer_card {
    width: 100%;
}
.footer_btn_container {
    display: flex;
    justify-content: center;
}
.meta {
    padding: 12px 24px 12px 24px;
}

}
 