.card_opportunities {
    margin-right: 24px;
    max-width:752px;
    margin-left: 26px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family:'Inter';
    line-height: 20px;
    color:#061178;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    }

.card_app_description {
        max-width:752px;
        font-family:'Inter';
        font-weight: 500;
        margin-right: 24px;
        font-size: 20px;
        line-height: 26px;
        margin-left: 26px;
        margin-top: 16px;
box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}

.card_app_description_title {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 0px;
}

.card_app_description_title p {
    margin-bottom: 0px;
}


@media (max-width:360px) {
    .card_app_description, .card_opportunities {
        margin: 24px 16px 0px 16px;
     }
}  
