.modal_wrapper {
    position: relative;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background: url(../../../assets/img/Enter_page_light.png);
    background-position: center;
    font-family: 'Inter';
}

.tabs {
    max-width: 368px;
}

.tabs :global(.ant-tabs-tab) {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.tabs :global(.ant-tabs-nav-list) {
    width: 100%;
}

.tabs :global(.ant-tabs-nav-wrap),
.tabs :global(.ant-tabs-nav) {
    max-width: 368px;
    display: flex;
    justify-content: space-around;
}

.tabs :global .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #2f54eb;
}

.tabs :global .ant-tabs-ink-bar {
    background: #2f54eb;
}

.tabs :global .ant-tabs-tab:hover {
    color: #2f54eb;
}

.modal_wrapper_blur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(121, 156, 212, 0.5);
    backdrop-filter: blur(5px);
}

.modal_wrapper_blur_container {
    max-height: 640px;
    width: 539px;
    padding: 64px 32px 64px 32px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.modal_wrapper_blur_container_content {
    width: 100%;
    max-width: 368px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .modal_wrapper_blur_container {
        max-height: 640px;
    }
}

@media (max-width: 490px) {
    .tabs {
        max-width: 296px;
    }

    .tabs :global(.ant-tabs-nav-wrap),
    .tabs :global(.ant-tabs-nav) {
        max-width: 296px;
    }
}

@media (max-width: 360px) {
    .modal_wrapper_blur_container {
        margin-left: 16px;
        margin-right: 16px;
        padding: 32px 16px;
    }

    .modal_wrapper_blur_container {
        gap: 32px;
    }
}

@media (max-width: 834px) {
    .modal_wrapper {
        background-size: 200%;
    }
}
