.resulr_modal_btn {
    background: #2f54eb;
    white-space: nowrap;
}

.modal_result {
    width: 100%;
    padding: 0px 22px 0 22px;
}

:global .ant-modal-content {
    max-width: 537px;
}

:global .ant-modal-body {
    padding: 44px 32px;
}

.result_error_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

@media (max-width: 360px) {
    :global .ant-modal-body {
        padding: 32px 24px;
    }

    .modal_result {
        padding: 0;
    }
}
