.result_wrapper {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background: url(../../../assets/img/Enter_page_light.png);
    background-position: center;
    font-family: 'Inter';

}

.result_wrapper_blur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(121, 156, 212, 0.5);
    backdrop-filter: blur(5px);
}


.error_login_wrpper {
    max-width: 539px;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 1px;
    text-align: center;
    color: #262626;

}
.form_register_extra {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
}

.card {
    padding:  40px 32px 40px 32px;
}
.card_title {
    margin-bottom: 32px;
}

.inputs_wrapper {
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.button_save_password {
    margin-top: 40px;
    background-color: #2F54EB;
}



@media (max-width:360px) {
    .error_login_wrpper {
        margin-left: 16px;
        margin-right: 16px;
    }

    .card {
        padding: 32px 16px 32px 16px;
    }
}