.page_header {
display: flex;
justify-content: space-between;
}



@media (max-width: 834px) {

.set_button svg {
    display: none;
    }
}

@media (max-width: 360px) {
    
.set_button svg {
    display: block;
}

.set_button >.button_text {
 display: none;
}

.set_button {
 border: 1px solid #D9D9D9;
 background:#FFFFFF;
}
}
