.Logo {
   display: flex;
   justify-content: center;
   margin-top: 30px;
   margin-bottom: 50px;
   }
   
   .Logo img {
      max-width: 133px;
      height: 100%;
      object-fit: cover;
   }

   .logo_auth {
max-width: 309px;
display: flex;
flex-direction: column;
   }

   .logo_auth img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

@media(max-width:360px) {
   .Logo {
      margin-bottom: 32px;
      margin-top: 17px;

   }
   .Logo img {
      max-width: 72px;
   }

   .logo_auth {
      max-width: 203px;
   }
}