.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url(../../assets/img/main_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.wrapper {
    width: 100%;
    background: none;
}
