.ant-form-item-control-input-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ant-form-large .ant-form-item-control-input {
    min-height: 24px;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2f54eb;
    border-color: #2f54eb;
}
