.ant-form-item-control-input-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.ant-form-large .ant-form-item-control-input {
    min-height: 24px;
}


.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2F54EB;
    border-color: #2F54EB;
}