.user_card {
    width: 240px;
    background: #F0F5FF;
}
.user_info {
    display: flex;
    gap: 8px;
}

.fullName {
    margin-top: 5px;
}

.fullName > p {
font-family: 'Inter';
line-height: 18.2px;
text-align: left;
color: #262626;
}

.trening_type {
    display: flex;
    gap: 16px;
}

.card_footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.create_traning_btn {
    background:#2F54EB;
}

.trening_status {
font-family: 'Inter';
font-size: 12px;
font-weight: 400;
line-height: 15.6px;
text-align: left;
}

.trening_status > span {
    margin-left: 8px;
}