.fullName {
    margin-top: 5px;
}

.fullName > p {
    font-family: 'Inter';
    line-height: 18.2px;
    text-align: left;
    color: #262626;
    }
    
    .finded_users > span {
        color:#FF7875
    }