@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('./components/cards-discriptions/card-discriptions.css');
@import url('./components/cards-begin-taining/cards-begin-taining.css');
@import url('./pages/auth-page/auth/auth.css');
@import url('./pages/auth-page/sing-in/sing-in.css');
@import url('./pages/result/result-error-login-page/resul-error-login.css');
@import url('./components//feedbacks-header/feedbacks-header.css');
@import url('./components/user-comment/user-comment.css');
@import url('./components/empy-content/empty-conten.css');
@import url('./pages/calendar-page/calendar-page.css');
@import url('./components/drawer/drawer.css');
@import url('./components/profile-upload/profile-upload.css');
@import url('./components/swich-filed/swich-filed.css');
@import url('./components/privacy-authorization/privacy-authorization.css');
@import url('./components/tariff-costs/tariff-cost.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    min-height: 100%;
}

body {
    height: 100vh;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0px;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    font-family: 'Inter';
    font-weight: 400;
}

@media (max-width: 834px) {
    h1.ant-typography {
        font-size: 24px;
    }
}
@media (max-width: 360px) {
    h1.ant-typography {
        font-size: 20px;
    }
}
